.et-container {
    text-align: center;
    margin: 0!important;
    padding: 0!important;
    height: 555px;
}

.et-news {
    float: left;
    width: 25%;
}

.et-projects {
    float: left;
    width: 75%;
}

.et-clear {
    clear: both;
}

.et-title {
    color: #0f5a94;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.et-news-container {
    height: 400px;
    overflow-y: scroll;
}

.et-news-line {
    font-weight: bold;
    display: inline-block;
    line-height: 5px;
}

.et-projects-container {
    width: 100%;
}

.et-project-box {
    text-align: center;
    width: 16.66%;
    float: left;
}

.et-project-title {
    color: #0e5a96;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.et-project-chapter {
    color: #3390d6;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.et-project-img {
    margin: 0 auto 15px auto;
}

.et-banner {
    margin: 65px 0 0 0;
}

.et-banner a {
    margin: 0 20px;
}

.et-social {
    text-align: left;
    display: flex;
    align-items: center;
    height: 80px;
}

.et-social a {
    margin: 0 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) { 
    .et-news {
        display: none;
    }

    .et-projects {
        width: 100%!important;
    }

    .et-banner {
        margin: 45px 0 0 0!important;
    }

    .et-social {
        justify-content: center;
        height: 100px!important;
    }
}

@media only screen and (max-width: 767px) {
    .et-news {
        display: none;
    }

    .et-projects {
        display: none;
    }

    .et-social {
        justify-content: center;
    }

    .et-container {
        height: 80px!important;
    }
}