<!-- INCLUDECSS @champ94_eaglesteam/css/champ94_eaglesteam_board.css -->
<div class="page-body-inner">
    <div class="forabg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt><div class="list-inner"><a href="">{L_NOTICE_BOARD}</a></div></dt>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist forums">
                <li class="row et-container">
                    <div class="et-news">
                        <p class="et-title">{L_NEWS_BOARD}</p>
                        <div class="et-news-container">
                            <!-- INCLUDEPHP @champ94_eaglesteam/php/champ94_eaglesteam_news_board.php -->
                        </div>
                    </div>
                    <div class="et-projects">
                        <p class="et-title">{L_EAGLES_PROJECTS}</p>
                        <div class="et-projects-container">
                            <!-- INCLUDEPHP @champ94_eaglesteam/php/champ94_eaglesteam_projects.php -->
                            <div class="et-clear"></div>
                            <div class="et-banner">
                                <!-- INCLUDEPHP @champ94_eaglesteam/php/champ94_eaglesteam_banners.php -->
                            </div>
                        </div>
                    </div>
                    <div class="et-clear"></div>
                    <div class="et-social">
                        <!-- INCLUDEPHP @champ94_eaglesteam/php/champ94_eaglesteam_socials.php -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
