<!-- INCLUDECSS @champ94_eaglesteam/css/champ94_eaglesteam_board.css -->
<div class="page-body-inner">
    <div class="forabg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt><div class="list-inner"><a href="">{L_NOTICE_BOARD}</a></div></dt>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist forums">
                <li class="row et-container">
                    <div class="et-news">
                        <p class="et-title">{L_NEWS_BOARD}</p>
                        <div class="et-news-container">
                            <div><p class="et-news-line">1.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">2.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">3.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">4.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">5.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">6.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">7.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">8.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">9.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">10.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">11.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">12.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">13.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">14.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                            <div><p class="et-news-line">15.&nbsp;</p><a href="#">Nome Serie n. capitolo</a></div>
                        </div>
                    </div>
                    <div class="et-projects">
                        <p class="et-title">{L_EAGLES_PROJECTS}</p>
                        <div class="et-projects-container">
                            <div class="et-project-box">
                                <a class="et-project-title">Fuuka</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Fuuka.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Dome x Kano</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/DomesticnaKanojo.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Baby Steps</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/BabySteps.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Extra Game</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Fuuka.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Citrus</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Citrus.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Accel World</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Fuuka.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Spice & Wolf</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Spice&Wolf.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Fuuka</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Fuuka.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Dome x Kano</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/DomesticnaKanojo.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Baby Steps</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/BabySteps.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Extra Game</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Fuuka.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Citrus</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Citrus.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Accel World</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Fuuka.jpg">
                            </div>
                            <div class="et-project-box">
                                <a class="et-project-title">Spice & Wolf</a><br>
                                <a class="et-project-chapter">Chapter</a><br>
                                <img class="et-project-img" src="images/projects/Spice&Wolf.jpg">
                            </div>
                            <div class="et-clear"></div>
                            <div class="et-banner">
                                <a href="#"><img src="images/projects/Spice&Wolf.jpg"></a>
                                <a href="#"><img src="images/projects/Spice&Wolf.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="et-clear"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
